html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* reset css  */

*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  width: 100vw;
  min-height: 100vh;
}
main {
  display: flex;
}
.aside {
  display: none;
}

.card-container {
  max-width: 100%;
  display: grid;
  grid-template-rows: repeat(9, 1fr);
  padding: 0 20px;
  gap: 30px;
  border-bottom: 1px solid #eeeeee;
}

.card-detail {
  padding: 10px 10px;
}
.avatar {
  max-width: 100%;
}

.title {
  color: #5c5c5c;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
}

.package {
  font-size: 12px;
  line-height: 18px;
  margin-top: 5px;
  color: #a8a8a8;
}

.price-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.price {
  display: flex;
  flex-direction: column;
}

.orignal-price {
  font-size: 12px;
  line-height: 18px;
  margin-top: 5px;
  color: #a8a8a8;
  text-decoration: line-through;
}

.discount-price {
  line-height: 16px;
  color: #004978;
  margin-top: 5px;
}

.icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: bisque;
}

/* footer */
footer {
  background-color: #333333;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
}

footer img {
  width: 120px;
  height: 50px;
}

.company {
  color: #a8a8a8;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}

.number {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #a8a8a8;
  margin-bottom: 40px;
}

.title {
  width: 100%;
  font-size: 18px;
  color: #0092d3;
  line-height: 30px;
  padding: 10px 0;
  text-align: center;
  border-top: 1px solid #5c5c5c;
  border-bottom: 1px solid #5c5c5c;
}
.contact {
  display: block;
  padding: 30px 0;
  color: #a8a8a8;
}
.contact-number {
  font-size: 27px;
  color: #a8a8a8;
  text-decoration: none;
}
/* media queries */
@media screen and (min-width: 480px) {
  .card-container {
    padding: 0 40px;
  }
}

@media screen and (min-width: 660px) {
  .card-container {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr);
    padding: 0 20px;
    gap: 30px;
  }
  .title {
    font-size: 14px;
    line-height: 21px;
  }
  .package {
    font-size: 14px;
    line-height: 21px;
    margin: 5px 0 10px 0;
  }

  .orignal-price {
    font-size: 14px;
    line-height: 17.5px;
  }
  .discount-price {
    font-size: 18px;
    line-height: 18px;
    margin-top: 5px;
  }
  .icon {
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 992px) {
  .aside {
    display: unset;
    width: 260px;
    order: -1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 30px;
  }
  .menu-box {
    display: block;
  }
  .side-title {
    display: block;
    font-size: 16px;
    line-height: 35px;
  }
  .side-box {
    padding: 10px 0;
  }
  .sideitembox {
    color: #a8a8a8;
    display: block;
    font-size: 14px;
    line-height: 30px;
  }
  #sideitembox {
    display: block;
    font-size: 14px;
    line-height: 30px;
    color: #6f6f6f;
    padding: 15px 0 10px;
    border-bottom: 1px solid black;
  }
  .side-title2 {
    color: #a8a8a8;
    width: 220px;
    display: block;
    font-size: 14px;
    line-height: 30px;
    padding: 15px 0 10px;
    border-bottom: 1px solid #ccc;
  }
  .button {
    width: 220px;
    padding: 10px 70px;
    border-radius: 10px;
    border: none;
    margin: 70px 0 40px 0;
  }
  article {
    width: calc(100% - 260px);
  }
}
